# Node/NPM
node_modules/
.env

# Build output
dist/

# Coverage reports
coverage/

# Ignore generated TypeScript types
generated.ts
*.generated.ts
output/

# Ignore example/demo generated output
examples/demo-app/output/
